* text eol=auto

# use export-ignore to skip files when downloading
**/.* export-ignore
*.gitattributes text eol=crlf
*.gitconfig text eol=crlf
*.github text eol=crlf
*.gitignore text eol=crlf
*.gitmodules text eol=crlf
