__macosx
$RECYCLE.BIN/
backup/
temp/
tmp/

.*
!/.gitignore

*.bak
*.bat
*.exe
*.tmp

*.7z
*.rar
*.zip
*.tar*

*.iemod

Thumbs.db
ehthumbs.db
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
.apdisk
