*.gitignore text eol=crlf export-ignore
*.gitattributes text eol=crlf export-ignore

*.bcs text eol=lf

*.eff binary
*.exe binary
*.gif binary
*.ico binary
*.jpg binary
*.png binary
*.spl binary

* text eol=crlf
